{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Alexandria&display=swap" rel="stylesheet"> <!-- Importando a fonte Alexandria -->
</head>
<body>
    <header>
        <!-- Logo alinhada à esquerda -->
        <img src="https://github.com/mariaclaraalvess/simplifique/blob/master/simplifique%20(5).png?raw=true" alt="Logo" class="logo">
        
        <!-- Links centralizados -->
        <nav class="menu">
            <a href="#">Saiba Mais</a>
            <a href="#">Quem Somos</a>
            <a href="#">Suporte</a>
        </nav>

        <!-- Botão de login à direita -->
        <a href="{% url 'login' %}" class="login-btn">Login</a>
    </header>
</body>
</html>
