{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Alexandria&display=swap" rel="stylesheet"> <!-- Importando a fonte Alexandria -->
</head>
<body>
    <header>
        <!-- Logo alinhada à esquerda no cabeçalho -->
        <img src="https://github.com/mariaclaraalvess/simplifique/blob/master/simplifique%20(5).png?raw=true" alt="Logo" class="logo">
        
        <!-- Links centralizados -->
        <nav class="menu">
            <a href="#">Saiba Mais</a>
            <a href="#">Quem Somos</a>
            <a href="#">Suporte</a>
        </nav>

        <!-- Botão de login à direita -->
        <a href="{% url 'login' %}" class="login-btn">Login</a>
    </header>

    <main class="content">
        <!-- Lado esquerdo com a logo e o texto -->
        <div class="left-section">
            <img src="https://github.com/mariaclaraalvess/simplifique/blob/master/simplifique%20(6).png?raw=true" alt="Logo" class="left-logo">
            <p class="intro-text">
                <br>Organize seus eventos de forma fácil e eficiente!<br>
                <br>Aqui você pode criar, gerenciar e compartilhar<br>
                <br>eventos com poucos cliques.<br>
            </p>
            <p class="intro-text2">
                <br>Personalize cada detalhe, receba notificações<br>
                <br>importantes e conecte-se com seus participantes<br>
                <br>de maneira prática.<br>
            </p>
            <a href="{% url 'login' %}" class="login-btn">Login</a>
        </div>

        <!-- Lado direito permanece vazio -->
        <div class="right-section"></div>
    </main>
</body>
</html>
