{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Alexandria&display=swap" rel="stylesheet"> <!-- Importando a fonte Alexandria -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.min.css">
</head>
<body>
    <header>
        <img src="https://github.com/mariaclaraalvess/simplifique/blob/master/simplifique%20(5).png?raw=true" alt="Logo" class="logo">
        <nav class="menu">
            <a href="#">Saiba Mais</a>
            <a href="#">Quem Somos</a>
            <a href="#">Suporte</a>
        </nav>
        <a href="{% url 'tela_inicial' %}" class="login-btn">Home</a>
    </header>

    <main class="content">
        <div class="rectangle">
            <h1>Login</h1>
            <form action="#">
                <input type="text" placeholder="Usuário ou Email" required>
                <input type="password" placeholder="Senha" required>
                <button type="submit">Entrar</button>
            </form>
            <a href="#">Esqueci minha senha</a>
            <a href="{% url 'cadastro' %}">Não tenho conta</a>
        </div>
    </main>
</body>
</html>
