{% extends "base_generic.html" %}

{% block content %}
<div class="center-container">
    <div class="rectangle">
        <h1>Recuperar Senha</h1>
        <p style="color: white;">Insira o e-mail associado à sua conta.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="login-btn-submit">Enviar</button>
        </form>
        <div class="register">
            <a href="{% url 'login' %}">Voltar para login</a>
        </div>
    </div>
</div>
{% endblock %}
