/* style.css */

/* Importando a fonte Alexandria */
@import url('https://fonts.googleapis.com/css2?family=Alexandria&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; /* Fonte padrão para o corpo */
    background-color: #9B5DE5; /* Cor de fundo da página restante */
    margin: 0; /* Remover margem padrão do body */
    font-size: 16px; /* Tamanho base da fonte */
    overflow-x: hidden; /* Impede rolagem horizontal */
}

header {
    background-color: #7140AD; /* Cor de fundo do cabeçalho */
    height: 65px; /* Altura fixa para o cabeçalho */
    color: white; /* Cor do texto */
    width: 100%; /* Garante que o cabeçalho ocupe toda a largura da página */
    display: flex; /* Usar flexbox para disposição dos itens */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-between; /* Alinha os itens à esquerda e à direita */
    padding: 0 2rem; /* Espaçamento horizontal */
    box-sizing: border-box; /* Inclui o padding no cálculo da largura total */
}

.logo {
    height: 3rem; /* Altura ajustada para a logo */
    width: auto; /* Mantém a proporção da imagem */
    margin-left: 2rem; /* Distância da borda esquerda */
}

nav.menu {
    display: flex; /* Disposição horizontal dos links */
    justify-content: center; /* Alinha os links no centro */
    flex-grow: 1; /* Faz com que o menu ocupe o espaço restante */
    text-align: center;
    gap: 6rem; /* Ajustado o espaçamento entre os itens */
}

nav.menu a {
    font-family: 'Alexandria', serif; /* Usando a fonte Alexandria */
    font-size: 1.2rem; /* Ajustado o tamanho da fonte dos links */
    color: white; /* Cor do texto dos links */
    text-decoration: none; /* Remove o sublinhado */
    padding: 0; /* Remove qualquer padding extra */
}

nav.menu a:hover {
    text-decoration: underline; /* Sublinha os links ao passar o mouse */
}

.login-btn {
    font-family: 'Alexandria', serif; /* Fonte do botão de login */
    font-size: 1.0rem; /* Ajustado o tamanho da fonte do botão */
    color: white; /* Cor do texto do botão */
    background-color: transparent; /* Fundo transparente */
    border: 3px solid white; /* Espessura da borda */
    padding: 0.4rem 2rem; /* Ajustado o espaçamento interno do botão */
    border-radius: 50px; /* Bordas arredondadas */
    text-decoration: none; /* Remove sublinhado */
    display: inline-block;
    margin-right: 2rem; /* Distância da borda direita */
}

.login-btn:hover {
    background-color: white; /* Cor de fundo do botão ao passar o mouse */
    color: #7140AD; /* Cor do texto ao passar o mouse */
}
