/* Importando a fonte Alexandria */
@import url('https://fonts.googleapis.com/css2?family=Alexandria&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #9B5DE5;
    margin: 0;
    font-size: 16px;
    overflow-x: hidden;
}

/* --- CONFIGURAÇÕES DO CABEÇALHO --- */

header {
    background-color: #7140AD;
    height: 65px;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-sizing: border-box;
}

.logo {
    height: 3rem;
    width: auto;
}

nav.menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    gap: 6rem;
}

nav.menu a {
    font-family: 'Alexandria', serif;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    padding: 0;
}

nav.menu a:hover {
    text-decoration: underline;
}

.login-btn {
    font-family: 'Alexandria', serif;
    font-size: 1.0rem;
    color: white;
    background-color: transparent;
    border: 3px solid white;
    padding: 0.4rem 2rem;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    margin-right: 2rem;
}

.login-btn:hover {
    background-color: white;
    color: #7140AD;
}

/* --- CONFIGURAÇÕES DO CORPO --- */

main.content {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 65px);
}

.left-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2rem;
}

.left-logo {
    max-width: 70%;
    height: auto;
    margin: 0 auto 2rem auto;
}

.intro-text, .intro-text2 {
    font-family: 'Alexandria', serif;
    font-size: 1.2rem;
    color: white;
    margin-bottom: 2rem;
    text-align: left;
    line-height: 0.5;
}

.left-btn-login {
    font-family: 'Alexandria', serif;
    font-size: 1.0rem;
    color: white;
    background-color: transparent;
    border: 3px solid white;
    padding: 0.4rem 2rem;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
}

.left-btn-login:hover {
    background-color: white;
    color: #7140AD;
}

.right-section {
    width: 50%;
    background-color: #5A2A7E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.calendario {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    max-width: 340px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.calendario-header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f4f4f4;
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #666;
}

td {
    text-align: center;
    padding: 10px;
    border: 1px solid #e0e0e0;
}

.dia-atual {
    background-color: #4a90e2;
    color: white;
    font-weight: bold;
    border-radius: 50%;
}

.fim-de-semana {
    color: #888;
}
